*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color:#0B1F3A;
    color: white;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.logo {
  color:white ;

}

.logo h2{
    font-size: 28px;
    font-weight:bold;
}
.logo span{
    color: #4DA8FF;
}

.title h2{
font-size: 30px;
font-weight: 600;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 20px;
}
.date{
    font-size: 16px;
    font-weight: 500;
    
}
.students{
    font-size: 16px;
    font-weight: 500; 
}
svg{
    font-size: 25px;
    position: relative;
    top: 3px;

}